<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-inverse navbar navbar-dark fixed-top" style="background-color: #49593a;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left" style="background-color: #49593a;">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#">Liv Livraria E-commerce</a>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>