<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/layout">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					    	<p>Architect Engineer</p>
					    	<p><button>Adicionar ao Carrinho</button></p>
					    </div>
					 </div>
				</div>
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					   		<p>Architect Engineer</p>
					   		<p><button>Adicionar ao Carrinho</button></p>
					   	</div>
					 </div>
				</div>
				
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					    	<p>Architect Engineer</p>
					    	<p><button>Adicionar ao Carrinho</button></p>
					    </div>
					 </div>
				</div>
			</div>
			
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					    	<p>Architect Engineer</p>
					    	<p><button>Adicionar ao Carrinho</button></p>
					    </div>
					 </div>
				</div>
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					   		<p>Architect Engineer</p>
					   		<p><button>Adicionar ao Carrinho</button></p>
					   	</div>
					 </div>
				</div>
				
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					    	<p>Architect Engineer</p>
					    	<p><button>Adicionar ao Carrinho</button></p>
					    </div>
					 </div>
				</div>
			</div>
			
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					    	<p>Architect Engineer</p>
					    	<p><button>Adicionar ao Carrinho</button></p>
					    </div>
					 </div>
				</div>
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					   		<p>Architect Engineer</p>
					   		<p><button>Adicionar ao Carrinho</button></p>
					   	</div>
					 </div>
				</div>
				
				<div class="col-4">
					<div class="card">
						<img src="img_avatar.png" alt="Avatar" style="width:100%">
						<div class="container">
					    	<h4><b>John Doe</b></h4>
					    	<p>Architect Engineer</p>
					    	<p><button>Adicionar ao Carrinho</button></p>
					    </div>
					 </div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>