<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item">
				<span class="nav-link active" id="nav-pills-admin">Livros</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/livros/cadastrar">
					<i class="oi oi-plus"></i> 
					<span>Cadastrar</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/livros/listar">
					<i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
				</a>
			</li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item">
				<span class="nav-link active" id="nav-pills-admin">Clientes</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/clientes/cadastrar">
					<i class="oi oi-plus"></i> 
					<span>Cadastrar</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/clientes/listar">
					<i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
				</a>
			</li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item">
				<span class="nav-link active" id="nav-pills-admin">Vendas</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/vendas/cadastrar">
					<i class="oi oi-plus"></i> 
					<span>Cadastrar</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/vendas/listar">
					<i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
				</a>
			</li>
		</ul>
		
		<ul class="nav nav-pills">
			<li class="nav-item">
				<span class="nav-link active" id="nav-pills-admin">Trocas</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/trocas/cadastrar">
					<i class="oi oi-plus"></i> 
					<span>Cadastrar</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/trocas/listar">
					<i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
				</a>
			</li>
		</ul>
		
		<ul class="nav nav-pills">
			<li class="nav-item">
				<span class="nav-link active" id="nav-pills-admin">Estoque</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/estoques/cadastrar">
					<i class="oi oi-plus"></i> 
					<span>Cadastrar</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/estoques/listar">
					<i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
				</a>
			</li>
		</ul>
		
		<ul class="nav nav-pills">
			<li class="nav-item">
				<span class="nav-link active" id="nav-pills-admin">Dimensões</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/dimensoes/cadastrar">
					<i class="oi oi-plus"></i> 
					<span>Cadastrar</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/dimensoes/listar">
					<i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
				</a>
			</li>
		</ul>
		
		<ul class="nav nav-pills">
			<li class="nav-item">
				<span class="nav-link active" id="nav-pills-admin">Precificação</span>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/precificacoes/cadastrar">
					<i class="oi oi-plus"></i> 
					<span>Cadastrar</span>
				</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/precificacoes/listar">
					<i class="oi oi-spreadsheet"></i>
					<span>Listar</span>
				</a>
			</li>
		</ul>
	</nav>

</body>
</html>